.title1 {
  font-size: 16px;
  padding: 16px 0 0;
  font-weight: bold;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: $primary;
    position: absolute;
    top: 0;
  }
}
