//colors
$primary: #0067b3;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Breakpoints
$breakpoint-mobile: 360px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

//layoutSetting
$globalContainerWidth: 1100px;
//layoutSettingFunction
@function containerSet($changeValue) {
  @if ($changeValue== "default") {
    @return $globalContainerWidth;
  } @else if($changeValue) {
    @return $changeValue;
  } @else {
    @return $globalContainerWidth;
  }
}
//header
$headerContainerWidth: containerSet("default");
$gnbOneDepthMargin: 20px;
//contents
$contentsContainerWidth: containerSet("default");
//footer
