header {
  z-index: 1;
  .scroll-gauge-area {
    width: 100%;
    position: fixed;
    background: #e9f3ff;
    top: 0px;
    z-index: 100;
    .scroll-gauge-bar {
      background: #c7e2ff;
      width: 20px;
      height: 4px;
    }
  }
  .outer-container {
    border-bottom: 1px solid #f2f2f2;

    .inner-container {
      display: flex;
      .gnb-area {
        display: flex;
        align-items: center;
        .logo-area {
          display: flex;
          align-items: center;
          justify-content: center;
          .logo {
            display: flex;
            align-items: center;
            height: 40px;
            background: red;
          }
          & + .btn-gnb-controll-area {
            & + .menu-area {
              margin-left: 40px;
            }
          }
        }
        .btn-gnb-controll-area {
          .btn-gnb-controll {
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            display: none;
          }
        }

        .menu-area {
          display: flex;
          .menu-depth-1-list {
            display: flex;
            .menu-depth-1 {
              text-align: center;
              margin: 0 24px;
              > a {
                display: block;
                padding: 28px 0;
                font-size: 18px;
                position: relative;
              }

              &.on {
                > a {
                  &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    background: $primary;
                  }
                }
              }
              .menu-depth-2-container {
                position: absolute;
                left: 0;
                right: 0;
                padding: 0 10px 0;
                display: none;
                text-align: left;
                border-bottom: 1px solid $primary;

                > .menu-depth-2-list {
                  display: flex;
                  width: $headerContainerWidth;
                  margin: 0 auto;
                  border-left: 1px solid #f2f2f2;
                  border-right: 1px solid #f2f2f2;
                  padding: 30px 20px 40px 30px;
                }
                .menu-depth-2 {
                  position: relative;
                  float: left;
                  > a {
                    color: $primary;
                  }
                  .menu-depth-3-container {
                    margin-top: 8px;
                  }
                  &.on {
                    .menu-depth-3-container {
                      display: block;
                    }
                  }
                  & + .menu-depth-2 {
                    margin-left: 75px;
                  }
                  .menu-depth-3-container {
                    .menu-depth-3-list {
                      .menu-depth-3 {
                        > a {
                          display: block;
                          padding: 4px 0;
                        }
                        &:hover {
                          > a {
                            color: $primary;
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }
              }
              & + .menu-depth-1 {
                margin-left: $gnbOneDepthMargin;
              }
              &.on {
                .menu-depth-2-container {
                  display: block;
                }
              }
            }
          }
        }
        & + .etc-area {
          margin-left: auto;
        }
      }
      .etc-area {
        display: flex;
        align-items: center;
        > ul {
          align-items: center;
          display: flex;
        }
      }
    }
  }
}
