header {
  z-index: 1;
  $stateBarHeight: 4px;
  .scroll-gauge-area {
    width: 100%;
    position: fixed;
    background: #e9f3ff;
    top: 0px;
    z-index: 100;
    .scroll-gauge-bar {
      background: #c7e2ff;
      width: 20px;
      height: $stateBarHeight;
    }
  }
  .outer-container {
    border-bottom: 1px solid #f2f2f2;
    &.state-area {
      padding-top: $stateBarHeight;
      height: 40px;
      background: #003876;
      align-items: center;
      .state-list {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        width: 100%;
        .state-item {
          height: 39px - $stateBarHeight;
          background: #002b5c;
          display: flex;
          align-items: center;
          padding: 0 12px;
          color: #fff;
          box-shadow: 0 3px 0 #ffc240;
          & + .state-item {
            margin-left: 20px;
          }
        }
      }
    }
    .inner-container {
      display: flex;
      .gnb-area {
        display: flex;
        align-items: center;
        flex-grow: 1;

        .logo-area {
          display: flex;
          align-items: center;
          justify-content: center;
          .logo {
            display: flex;
            align-items: center;
            height: 40px;
          }
          & + .btn-gnb-controll-area {
            & + .menu-area {
              margin-left: 40px;
            }
          }
        }
        .btn-gnb-controll-area {
          .btn-gnb-controll {
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            display: none;
          }
        }

        .menu-area {
          display: flex;
          flex-grow: 1;
          justify-content: center;
          .menu-depth-1-list {
            display: flex;
            .menu-depth-1 {
              text-align: center;
              margin: 0 24px;
              min-width: 80px;
              .menu-depth-1-a {
                display: block;
                padding: 18px 0;
                font-size: 16px;
                position: relative;
              }

              &.on {
                > a {
                  &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    background: $primary;
                  }
                }
              }
              .menu-floating-area {
                // .menu-depth-2-container
                position: absolute;
                left: 0;
                right: 0;
                padding: 0 10px 0;
                display: none;
                text-align: left;
                // border-bottom: 1px solid $primary;
                .gnb-intro-area {
                  width: 300px;
                  position: relative;
                  background: url(../../assets/images/menu-inner-img1.jpg);
                }
                > .menu-depth-2-container
								// .menu-depth-2-list
                {
                  display: flex;
                  width: $headerContainerWidth;
                  margin: 0 auto;
                  // border-left: 1px solid #f2f2f2;
                  border-right: 1px solid #f2f2f2;
                  border-bottom: 1px solid $primary;
                  // padding: 30px 20px 40px 30px;
                  background: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
                  right: 0;
                  margin: auto;
                }
                .menu-depth-2 {
                  padding: 24px 20px 24px 30px;
                  position: relative;
                  float: left;
                  .menu-depth-2-a {
                    color: $primary;
                  }
                  .menu-depth-3-container {
                    margin-top: 8px;
                  }
                  &.on {
                    .menu-depth-3-container {
                      display: block;
                    }
                  }
                  & + .menu-depth-2 {
                    margin-left: 75px;
                  }
                  .menu-depth-3-container {
                    .menu-depth-3-list {
                      .menu-depth-3 {
                        > a {
                          display: block;
                          padding: 4px 0;
                        }
                        &:hover {
                          > a {
                            color: $primary;
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }
                .btn-gnb-depth2-area-close {
                  display: block;
                  width: 32px;
                  height: 32px;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  @include ir;
                  background: url(../../assets/images/btn-m-gnb-close.png)
                    no-repeat center/cover;
                }
              }
              & + .menu-depth-1 {
                margin-left: $gnbOneDepthMargin;
              }
              &.on {
                .menu-floating-area {
                  display: block;
                }
              }
            }
          }
        }
        & + .etc-area {
          margin-left: auto;
        }
      }
      .m-gnb-area {
        display: none;
      }
      .etc-area {
        display: flex;
        align-items: center;
        > ul {
          align-items: center;
          display: flex;
          > li {
            a {
              // padding: 28px 10px;
              display: block;
            }
            & + li {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  @include MtoT {
    .outer-container {
      &.state-area {
        background: #fff;
      }
      .inner-container {
        &.width-default {
          width: 100%;
          padding: 0 20px;
          .gnb-area {
            display: none;
          }
        }
        .m-gnb-area {
          // position: fixed;
          left: 0;
          top: 4px;
          // background: #fff;
          width: 100%;
          // height: 100%;
          position: absolute;

          display: flex;
          align-items: stretch;
          height: 35px;
          .btn-m-gnb {
            // top: 4px + 20px;
            @include ir;
            position: relative;
            background: url(../../assets/images/btn-m-gnb.png) no-repeat
              center/cover;
            height: 32px;
            width: 32px;
            border: 0;
            // display: none;
          }
          .m-gnb-title-area {
            width: 100%;
            position: absolute;
            top: 4px;
            display: none;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 3px solid #003876;
            background: #fff;
            h2 {
              padding-left: 15px;
              font-size: 18px;
              color: #1a1a1a;
              line-height: 20px;
              font-weight: 500;
            }
            .btn-m-gnb-close {
              @include ir;
              background: url(../../assets/images/btn-m-gnb-close.png) no-repeat
                center/cover;
              height: 32px;
              width: 32px;
              right: 0;
            }
          }
          .m-gnb {
            display: none;
            margin-top: 58px + 4px;
            width: 100%;
            .m-gnb-inner {
              position: relative;
              .menu-depth-1 {
                display: flex;
                .menu-depth-1-a {
                  width: 75px;
                  padding: 15px 8px;
                  font-size: 14px;
                  display: block;
                  background: #e6e7ec;
                }
                // .menu-depth-2-container
                .menu-floating-area {
                  position: absolute;
                  top: 0;
                  left: 75px;
                  width: calc(100% - 75px);
                  display: none;
                  .menu-depth-2-container {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    .menu-depth-2-list {
                      order: 1;
                      width: 100%;
                      .menu-depth-2 {
                        border-bottom: 1px solid #f2f2f2;

                        .menu-depth-2-a {
                          position: relative;
                          display: block;
                          padding: 15px;
                          font-size: 16px;
                        }
                        .menu-depth-3-container {
                          display: none;
                          padding: 0 12px 12px 15px;
                          transition: 1s;

                          .menu-depth-3-list {
                            background: rgb(231, 231, 231);
                            .menu-depth-3 {
                              > a {
                                display: block;
                                padding: 12px 8px;
                                font-size: 16px;
                              }
                            }
                          }
                        }
                        &.has-child {
                          &.on {
                            .menu-depth-2-a {
                              &::after {
                                background: url(../../assets/images/acodian-menu-on.png)
                                  no-repeat center/cover;
                              }
                            }
                            .menu-depth-3-container {
                              display: block;
                            }
                          }
                        }
                        &.has-child {
                          .menu-depth-2-a {
                            &::after {
                              content: "";
                              width: 16px;
                              height: 8px;
                              display: block;
                              position: absolute;
                              top: 0;
                              bottom: 0;
                              margin: auto;
                              right: 10px;
                              background: url(../../assets/images/acodian-menu-off.png)
                                no-repeat center/cover;
                            }
                          }
                        }
                      }
                    }
                    .btn-gnb-depth2-area-close {
                      display: none;
                    }
                    .gnb-intro-area {
                      display: none;
                    }
                  }
                }
                & + .menu-depth-1 {
                  // margin-top: 16px;
                }
                &.on {
                  > a {
                    color: #fff;
                    background: #0067b3;
                  }
                  .menu-floating-area {
                    display: flex;
                    flex-wrap: wrap;
                  }
                }
              }
            }
          }
          &.open {
            width: 100%;
            height: 100%;
            background: #fff;
            position: fixed;
            top: 0;
            .m-gnb-title-area {
              display: flex;
            }
            .m-gnb {
              display: block;
            }
            .btn-m-gnb {
              display: none;
            }
          }
        }
        .etc-area {
          display: none;
        }
      }
    }
  }
}

#aa {
  position: absolute;
  display: block;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
