.lnb-area {
  width: 170px;
  .lnb-nav {
    height: 100%;
    display: flex;
    padding-top: 400px;
    .gnb-intro-area {
      display: none;
    }
    .menu-depth-2-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .menu-depth-2-list {
        width: 100%;
        .menu-depth-2 {
          border-bottom: 1px solid #ccc;

          .menu-depth-2-a {
            position: relative;
            display: block;
            padding: 16px 5px 15px;
            color: #1a1a1a;
          }

          .menu-depth-3-container {
            display: none;
            .menu-depth-3-list {
              .menu-depth-3 {
                > a {
                  display: block;
                  padding: 7px 5px 6px 20px;
                  font-size: 14px;
                  color: #737373;
                  line-height: 17px;
                }
              }
            }
          }

          &.has-child {
            .menu-depth-2-a {
              &::after {
                content: "";
                width: 16px;
                height: 8px;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 10px;
                background: url(../../assets/images/acodian-menu-off.png)
                  no-repeat center/cover;
              }
            }
            .menu-depth-2-a {
            }
            &.on {
              > a {
                &::after {
                  content: "";
                  width: 16px;
                  height: 8px;
                  display: block;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  right: 10px;
                  background: url(../../assets/images/acodian-menu-on.png)
                    no-repeat center/cover;
                }
              }
              .menu-depth-3-container {
                display: block;
              }
            }
          }
        }
      }
      .btn-gnb-depth2-area-close {
        display: none;
      }
    }
  }
}
