#content {
  &.main {
    background: url(../../assets/images/img-main-bg.jpg);
    position: relative;
    z-index: 10;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

.main-intro-area {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > span {
      cursor: pointer;
      display: flex;
      width: 50%;
      font-size: 100px;
      color: transparent;
      padding: 80px;
      &:nth-child(3) {
        display: inline-flex;
        transition: 0.5s;
        width: auto;
        justify-content: center;
        &.on {
          transform: scale(1.6) translate(20%, -10%);
        }
      }
      &:hover {
        color: #fff;
      }
      &.on {
        color: $gray-900;
      }
    }
  }
  @include MtoT {
    width: 100%;
    top: 124px;
    left: 0;
    align-items: flex-start;
    justify-content: center;
    h2 {
      width: 100%;
      padding: 0 20px;
      span {
        cursor: auto;
        width: 100%;
        display: block;
        font-size: 20px;
        opacity: 1;
        color: #fff;
        padding: 0;
        + span {
          padding-top: 10px;
        }
        &:nth-child(3) {
          display: flex;
          width: calc(100% - 40px);
          border: 2px solid #fff;
          align-items: center;
          justify-content: center;
          padding: 10px 0;

          position: absolute;
          height: 40px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}
