#content {
  &.main {
    background: url(../../assets/images/img-main-bg.jpg);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

.main-intro-area {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > span {
      cursor: pointer;
      display: flex;
      width: 50%;
      font-size: 100px;
      color: transparent;
      padding: 80px;
      &:nth-child(3) {
        display: inline-flex;
        transition: 0.5s;
        width: auto;
        justify-content: center;
        &.on {
          transform: scale(1.6) translate(20%, -10%);
        }
      }
      &:hover {
        color: #fff;
      }
      &.on {
        color: $gray-900;
      }
    }
  }
}
