* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Noto Sans CJK KR", "NotoSansKR", "malgungothic", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: 0;
  cursor: pointer;
}

.bg-light-gray {
  background: #f8f8f8 !important;
}

.bg-darkblue {
  background: #000c24;
}
.bg-darkblue .main-title,
.bg-darkblue .main-text {
  color: #fff;
}

* :focus {
  outline: 1px solid blue;
}

.m-olny {
  display: none;
}
@media (min-width: 0) and (max-width: 757px) {
  .m-olny {
    display: block;
  }
}

.m-t {
  display: none;
}
@media (min-width: 0) and (max-width: 1023px) {
  .m-t {
    display: block;
  }
}

.t-only {
  display: none;
}
@media (min-width: 758px) and (max-width: 1023px) {
  .t-only {
    display: block;
  }
}

.t-pc {
  display: none;
}
@media (min-width: 758px) and (max-width: 1023px) {
  .t-pc {
    display: block;
  }
}

.pc-only {
  display: none;
}
@media (min-width: 1024px) {
  .pc-only {
    display: block;
  }
}

.relative {
  position: relative;
}

.mt1 {
  margin-top: 5px;
}

.mt2 {
  margin-top: 10px;
}

.mt3 {
  margin-top: 15px;
}

.mt4 {
  margin-top: 20px;
}

.mt5 {
  margin-top: 25px;
}

.mt6 {
  margin-top: 30px;
}

.mt7 {
  margin-top: 35px;
}

.mt8 {
  margin-top: 40px;
}

.mt9 {
  margin-top: 45px;
}

.mt10 {
  margin-top: 50px;
}

.mt11 {
  margin-top: 55px;
}

.mt12 {
  margin-top: 60px;
}

.mt13 {
  margin-top: 65px;
}

.mt14 {
  margin-top: 70px;
}

.mt15 {
  margin-top: 75px;
}

.mt16 {
  margin-top: 80px;
}

.mt17 {
  margin-top: 85px;
}

.mt18 {
  margin-top: 90px;
}

.mt19 {
  margin-top: 95px;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper.lnb-less .content-wrapper #content .inner-container .lnb-area {
  display: none;
}
.wrapper.lnb-less .content-wrapper #content .inner-container .content-outer {
  margin: 0;
  margin-top: 60px;
  width: 100%;
}
@media (min-width: 0) {
  .wrapper.lnb-less .content-wrapper #content .inner-container .content-outer {
    margin-top: 20px;
    padding-top: px;
  }
}
.wrapper .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .inner-container.width-default {
  width: 1100px;
  margin: 0 auto;
}
.wrapper .content-wrapper {
  width: 100%;
  min-height: calc(100vh - 85px);
}
.wrapper .content-wrapper > #content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.wrapper .content-wrapper > #content .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.wrapper .content-wrapper > #content .inner-container .path {
  position: absolute;
  top: 40px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.wrapper .content-wrapper > #content .inner-container .path > li {
  position: relative;
  font-size: 12px;
}
.wrapper .content-wrapper > #content .inner-container .path > li::before {
  display: block;
  content: "";
  position: absolute;
  left: -14px;
  width: 6px;
  height: 1px;
  background: #adadad;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 2px;
}
.wrapper .content-wrapper > #content .inner-container .path > li::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  content: "";
  position: absolute;
  left: -14px;
  width: 6px;
  height: 1px;
  background: #adadad;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  bottom: 5px;
}
.wrapper .content-wrapper > #content .inner-container .path > li:first-child::before {
  display: none;
}
.wrapper .content-wrapper > #content .inner-container .path > li:first-child::after {
  display: none;
}
.wrapper .content-wrapper > #content .inner-container .path > li + li {
  margin-left: 20px;
}
.wrapper .content-wrapper > #content .inner-container .lnb-area .lnb-nav {
  padding-top: 100px;
}
.wrapper .content-wrapper > #content .inner-container .lnb-area .lnb-nav .menu-depth-2-container .gnb-intro-area h2 {
  position: relative;
  padding-bottom: 29px;
  font-size: 28px;
}
.wrapper .content-wrapper .content-outer {
  width: calc(100% - (170px + 80px));
  min-height: 500px;
  padding-top: 40px;
}
.wrapper .content-wrapper .content-outer > .title-area {
  margin-bottom: 20px;
}
.wrapper .content-wrapper .content-outer > .title-area h2 {
  font-size: 40px;
}
.wrapper .content-wrapper .content-outer > .title-area + .content {
  margin-top: 40px;
}
.wrapper .content-wrapper .content-outer > .title-area {
  padding: 0 20px;
}
.wrapper .content-wrapper .content-outer > .title-area h2 {
  font-size: 25px;
}
.wrapper .content-wrapper .content-outer .content .section-area {
  padding: 0 20px;
}
@media (min-width: 1024px) {
  .wrapper .content-wrapper #content > .inner-container .content-outer {
    height: 100%;
    margin: 60px 0 60px 80px;
    padding: 20px;
  }
}
@media (min-width: 0) and (max-width: 1023px) {
  .wrapper .content-wrapper #content > .inner-container {
    width: 100%;
  }
  .wrapper .content-wrapper #content > .inner-container .lnb-area {
    display: none;
  }
  .wrapper .content-wrapper #content > .inner-container .path {
    z-index: 10;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 20px;
    top: 60px;
  }
  .wrapper .content-wrapper #content > .inner-container .path + .lnb-area + .content-outer {
    padding-top: 65px;
  }
  .wrapper .content-wrapper #content > .inner-container .content-outer {
    width: 100%;
    margin-top: 20px;
  }
  .wrapper .content-wrapper #content > .inner-container .content-outer > .title-area {
    margin-bottom: 16px;
  }
  .wrapper .content-wrapper #content > .inner-container .content-outer .content {
    padding-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .content-wrapper #content > .inner-container.width-default {
    width: 100%;
  }
}

.outer-container {
  width: 100%;
}

header {
  width: 100%;
}

footer {
  width: 100%;
}

.btn {
  display: inline-block;
}

.btn-md {
  height: 60px;
  line-height: 60px;
  width: 195px;
  max-width: 100%;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.btn-sm {
  height: 34px;
  line-height: 34px;
  width: 94px;
  max-width: 100%;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.btn-white {
  background: #fff;
  color: #0055b8;
}

.bg-light-gray .btn,
.bg-white .btn {
  background: #0055b8;
  color: #fff;
}

.bg-darkblue .btn {
  background: #fff !important;
  color: #0055b8 !important;
}

header {
  z-index: 11;
}
header .scroll-gauge-area {
  width: 100%;
  position: fixed;
  background: #e9f3ff;
  top: 0px;
  z-index: 100;
}
header .scroll-gauge-area .scroll-gauge-bar {
  background: #c7e2ff;
  width: 20px;
  height: 4px;
}
header .outer-container {
  border-bottom: 1px solid #f2f2f2;
}
header .outer-container.state-area {
  padding-top: 4px;
  height: 40px;
  background: #003876;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .outer-container.state-area .state-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
header .outer-container.state-area .state-list .state-item {
  height: 35px;
  background: #002b5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  color: #fff;
  -webkit-box-shadow: 0 3px 0 #ffc240;
          box-shadow: 0 3px 0 #ffc240;
}
header .outer-container.state-area .state-list .state-item + .state-item {
  margin-left: 20px;
}
header .outer-container .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .outer-container .inner-container .gnb-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
header .outer-container .inner-container .gnb-area .logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .outer-container .inner-container .gnb-area .logo-area .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
header .outer-container .inner-container .gnb-area .logo-area + .btn-gnb-controll-area + .menu-area {
  margin-left: 40px;
}
header .outer-container .inner-container .gnb-area .btn-gnb-controll-area .btn-gnb-controll {
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
header .outer-container .inner-container .gnb-area .menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 {
  text-align: center;
  margin: 0 24px;
  min-width: 80px;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-depth-1-a {
  display: block;
  padding: 18px 0;
  font-size: 16px;
  position: relative;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1.on > a::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #0067b3;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 10px 0;
  display: none;
  text-align: left;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .gnb-intro-area {
  width: 300px;
  position: relative;
  background: url(../../assets/images/menu-inner-img1.jpg);
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area > .menu-depth-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #0067b3;
  background: #fff;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  margin: auto;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .menu-depth-2 {
  padding: 24px 20px 24px 30px;
  position: relative;
  float: left;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .menu-depth-2 .menu-depth-2-a {
  color: #0067b3;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .menu-depth-2 .menu-depth-3-container {
  margin-top: 8px;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .menu-depth-2.on .menu-depth-3-container {
  display: block;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .menu-depth-2 + .menu-depth-2 {
  margin-left: 75px;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .menu-depth-2 .menu-depth-3-container .menu-depth-3-list .menu-depth-3 > a {
  display: block;
  padding: 4px 0;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .menu-depth-2 .menu-depth-3-container .menu-depth-3-list .menu-depth-3:hover > a {
  color: #0067b3;
  text-decoration: underline;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 .menu-floating-area .btn-gnb-depth2-area-close {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  background: url(../../assets/images/btn-m-gnb-close.png) no-repeat center/cover;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1 + .menu-depth-1 {
  margin-left: 20px;
}
header .outer-container .inner-container .gnb-area .menu-area .menu-depth-1-list .menu-depth-1.on .menu-floating-area {
  display: block;
}
header .outer-container .inner-container .gnb-area + .etc-area {
  margin-left: auto;
}
header .outer-container .inner-container .m-gnb-area {
  display: none;
}
header .outer-container .inner-container .etc-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .outer-container .inner-container .etc-area > ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .outer-container .inner-container .etc-area > ul > li a {
  display: block;
}
header .outer-container .inner-container .etc-area > ul > li + li {
  margin-left: 20px;
}
@media (min-width: 0) and (max-width: 1023px) {
  header .outer-container.state-area {
    background: #fff;
  }
  header .outer-container .inner-container.width-default {
    width: 100%;
    padding: 0 20px;
  }
  header .outer-container .inner-container.width-default .gnb-area {
    display: none;
  }
  header .outer-container .inner-container .m-gnb-area {
    left: 0;
    top: 4px;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 35px;
  }
  header .outer-container .inner-container .m-gnb-area .btn-m-gnb {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    text-align: left;
    position: absolute;
    position: relative;
    background: url(../../assets/images/btn-m-gnb.png) no-repeat center/cover;
    height: 32px;
    width: 32px;
    border: 0;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb-title-area {
    width: 100%;
    position: absolute;
    top: 4px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 3px solid #003876;
    background: #fff;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb-title-area h2 {
    padding-left: 15px;
    font-size: 18px;
    color: #1a1a1a;
    line-height: 20px;
    font-weight: 500;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb-title-area .btn-m-gnb-close {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    text-align: left;
    position: absolute;
    background: url(../../assets/images/btn-m-gnb-close.png) no-repeat center/cover;
    height: 32px;
    width: 32px;
    right: 0;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb {
    display: none;
    margin-top: 62px;
    width: 100%;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner {
    position: relative;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-depth-1-a {
    width: 75px;
    padding: 15px 8px;
    font-size: 14px;
    display: block;
    background: #e6e7ec;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area {
    position: absolute;
    top: 0;
    left: 75px;
    width: calc(100% - 75px);
    display: none;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2 {
    border-bottom: 1px solid #f2f2f2;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2 .menu-depth-2-a {
    position: relative;
    display: block;
    padding: 15px;
    font-size: 16px;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2 .menu-depth-3-container {
    display: none;
    padding: 0 12px 12px 15px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2 .menu-depth-3-container .menu-depth-3-list {
    background: #e7e7e7;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2 .menu-depth-3-container .menu-depth-3-list .menu-depth-3 > a {
    display: block;
    padding: 12px 8px;
    font-size: 16px;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2.has-child.on .menu-depth-2-a::after {
    background: url(../../assets/images/acodian-menu-on.png) no-repeat center/cover;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2.has-child.on .menu-depth-3-container {
    display: block;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .menu-depth-2-list .menu-depth-2.has-child .menu-depth-2-a::after {
    content: "";
    width: 16px;
    height: 8px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
    background: url(../../assets/images/acodian-menu-off.png) no-repeat center/cover;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .btn-gnb-depth2-area-close {
    display: none;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1 .menu-floating-area .menu-depth-2-container .gnb-intro-area {
    display: none;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1.on > a {
    color: #fff;
    background: #0067b3;
  }
  header .outer-container .inner-container .m-gnb-area .m-gnb .m-gnb-inner .menu-depth-1.on .menu-floating-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .outer-container .inner-container .m-gnb-area.open {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
  }
  header .outer-container .inner-container .m-gnb-area.open .m-gnb-title-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .outer-container .inner-container .m-gnb-area.open .m-gnb {
    display: block;
  }
  header .outer-container .inner-container .m-gnb-area.open .btn-m-gnb {
    display: none;
  }
  header .outer-container .inner-container .etc-area {
    display: none;
  }
}

#aa {
  position: absolute;
  display: block;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

footer .footer-inner-wrapp .footer-section .footer-inner {
  padding: 24px;
  background: #012957;
}
footer .footer-inner-wrapp .footer-section .footer-inner p {
  text-align: center;
  color: #f8f9fa;
}

.lnb-area {
  width: 170px;
}
.lnb-area .lnb-nav .gnb-intro-area {
  width: 100%;
  height: 200px;
  background: red;
}
.lnb-area .lnb-nav .menu-depth-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list {
  width: 100%;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list .menu-depth-2 {
  border-bottom: 1px solid #ccc;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list .menu-depth-2 .menu-depth-2-a {
  position: relative;
  display: block;
  padding: 16px 5px 15px;
  color: #1a1a1a;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list .menu-depth-2 .menu-depth-3-container {
  display: none;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list .menu-depth-2 .menu-depth-3-container .menu-depth-3-list .menu-depth-3 > a {
  display: block;
  padding: 7px 5px 6px 20px;
  font-size: 14px;
  color: #737373;
  line-height: 17px;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list .menu-depth-2.has-child .menu-depth-2-a::after {
  content: "";
  width: 16px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  background: url(../../assets/images/acodian-menu-off.png) no-repeat center/cover;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list .menu-depth-2.has-child.on > a::after {
  content: "";
  width: 16px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  background: url(../../assets/images/acodian-menu-on.png) no-repeat center/cover;
}
.lnb-area .lnb-nav .menu-depth-2-container .menu-depth-2-list .menu-depth-2.has-child.on .menu-depth-3-container {
  display: block;
}
.lnb-area .lnb-nav .menu-depth-2-container .btn-gnb-depth2-area-close {
  display: none;
}

.label-date-list-wrapper .label-date-list > .item {
  padding: 28px 0 28px;
  border-bottom: 1px solid rgba(69, 79, 93, 0.07);
  position: relative;
}
.label-date-list-wrapper .label-date-list > .item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 40px;
}
.label-date-list-wrapper .label-date-list > .item > a .text-area {
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 10px;
}
.label-date-list-wrapper .label-date-list > .item > a .text-area strong {
  font-size: 22px;
  position: relative;
}
.label-date-list-wrapper .label-date-list > .item > a .text-area .text {
  margin-top: 20px;
}
.label-date-list-wrapper .label-date-list > .item > a .date-area {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.label-date-list-wrapper .label-date-list > .item > a .date-area .date {
  width: 100%;
  display: block;
  color: #b0b8c1;
}
.label-date-list-wrapper .label-date-list > .item > a .label-area {
  margin-top: 10px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
  display: block;
  color: #3182f6;
}
@media (min-width: 1024px) {
  .label-date-list-wrapper .label-date-list > .item > a:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .label-date-list-wrapper .label-date-list > .item > a:hover strong::before {
    content: "";
    background: #000;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 4px;
    margin: auto;
    position: absolute;
  }
}
@media (min-width: 1024px) {
  .label-date-list-wrapper .label-date-list > .item.link > a::after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 26px;
    height: 22px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    background: url(../images/right_arrow.png) no-repeat center/26px 22px;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .label-date-list-wrapper .label-date-list > .item.link > a:hover::after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 26px;
    height: 22px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    background: url(../images/right_arrow.png) no-repeat center/26px 22px;
    opacity: 1;
  }
}
@media (min-width: 0) and (max-width: 1023px) {
  .label-date-list-wrapper .label-date-list > .item {
    padding: 12px 0 32px;
  }
  .label-date-list-wrapper .label-date-list > .item > a {
    padding: 0;
  }
  .label-date-list-wrapper .label-date-list > .item > a .text-area {
    margin-top: 6px;
  }
  .label-date-list-wrapper .label-date-list > .item > a .text-area .title-area {
    font-size: 16px;
    word-break: keep-all;
  }
  .label-date-list-wrapper .label-date-list > .item > a .text-area .text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    word-break: keep-all;
  }
  .label-date-list-wrapper .label-date-list > .item > a .label-area {
    margin-top: 6px;
    font-size: 12px;
  }
  .label-date-list-wrapper .label-date-list > .item.link > a::after {
    content: "Link";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 10px;
    background: #3182f6;
    color: #fff;
    font-size: 12px;
  }
}
.label-date-list-wrapper .label-date-list > .item + .item {
  margin-top: 20px;
}

.dot-list > li {
  position: relative;
  margin-left: 14px;
  line-height: 1.3;
}
.dot-list > li::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #0067b3;
  display: block;
  position: absolute;
  top: 2px;
  left: -14px;
  border-radius: 50%;
}
.dot-list > li + li {
  margin-top: 16px;
}

.title1 {
  font-size: 16px;
  padding: 16px 0 0;
  font-weight: bold;
  position: relative;
}
.title1::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: red;
  position: absolute;
  top: 0;
}

.main-message-section {
  padding-top: 110px;
  padding-bottom: 110px;
  min-height: 800px;
  position: relative;
}
.main-message-section .text-area .main-title {
  text-align: center;
  font-size: 38px;
  line-height: 50px;
}
.main-message-section .text-area .main-title + .main-text {
  font-size: 22px;
  line-height: 30px;
  padding-top: 30px;
}
.main-message-section .text-area .main-text {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}
.main-message-section .text-area .main-text + .main-text {
  font-size: 22px;
  line-height: 30px;
  padding-top: 30px;
}
.main-message-section .text-area .main-text + .button-area {
  margin-top: 60px;
}
.main-message-section .text-area .main-text + .button-area .btn {
  color: #fff;
}
.main-message-section .text-area .button-area {
  text-align: center;
}
.main-message-section .text-area .button-area .btn {
  color: #fff;
}
.main-message-section .text-area + .image-area {
  margin-top: 60px;
}
.main-message-section .text-area + .button-area {
  margin-top: 40px;
}
.main-message-section .image-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-message-section .image-area .img {
  width: 400px;
  height: 500px;
  background: url(../../assets/images/main-bg2.jpg) no-repeat center/cover;
}
.main-message-section .image-area .img.myPickture {
  background: url(../../assets/images/myPicture.png) no-repeat center/cover;
}
.main-message-section .image-area .img.blog {
  background: url(../../assets/images/blogIcon.png) no-repeat center/100% auto;
}
.main-message-section .image-area + .text-area {
  margin-top: 60px;
}
.main-message-section.wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-message-section.wide .image-area {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-message-section.wide .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 5%;
}
.main-message-section.wide .text-area .main-title,
.main-message-section.wide .text-area .main-text {
  text-align: left;
  width: 100%;
}

.sticki-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sticki-scroll .image-area {
  position: sticky;
  left: 0;
  top: 0;
  width: 50%;
  background: url(../../assets/images/project.jpg) no-repeat 100%/cover;
  height: 100vh;
}
.sticki-scroll .image-area .img {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
}
.sticki-scroll .text-area {
  width: 50%;
  color: #fff;
  padding: 200px 0;
  background: #000c24;
  position: relative;
}
.sticki-scroll .text-area .text-scroll-area {
  padding: 100px 0;
}
.sticki-scroll .text-area .text-scroll-area .sticki-text-block {
  padding: 200px;
}
.sticki-scroll .text-area .text-scroll-area .sticki-text-block h3 {
  font-size: 20px;
}
.sticki-scroll .text-area .text-scroll-area .sticki-text-block h3 + span {
  font-size: 12px;
  display: block;
  margin-top: 20px;
}
.sticki-scroll .text-area .text-scroll-area .sticki-text-block h3 + span + span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
.sticki-scroll .text-area .text-scroll-area .sticki-text-block h3 + span + span + p {
  margin-top: 24px;
}
.sticki-scroll .text-area .text-scroll-area .sticki-text-block h3 + span + span + p + .btn-area {
  margin-top: 20px;
}
.sticki-scroll .scroll-percent-gauge {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.sticki-scroll .scroll-percent-gauge .scroll-percent {
  height: 0%;
  display: block;
  width: 2px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.people-talk {
  margin: 60px 0;
}
.people-talk > li {
  max-width: 1100px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 0 auto;
}
.people-talk > li + li {
  margin-top: 20px;
}
.people-talk > li > div > p {
  padding: 20px 12px;
  font-size: 12px;
  color: #fff;
  line-height: 18px;
}
.people-talk > li > div > strong {
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.btn-white {
  background: #fff !important;
  color: #0055b8 !important;
}

.component-contents-wrapper .lnb-area {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  padding: 100px 20px;
}
.component-contents-wrapper .lnb-area > h2 {
  width: 100%;
  text-align: center;
}
.component-contents-wrapper .lnb-area > ul {
  margin-top: 80px;
  text-align: center;
}
.component-contents-wrapper .lnb-area > ul li a {
  display: block;
  padding: 20px;
  border: 1px solid #0055b8;
}
.component-contents-wrapper .lnb-area > ul li + li {
  margin-top: 14px;
}
.component-contents-wrapper .component-contents-area {
  width: calc(100% - 200px);
  margin-left: 200px;
  height: 200px;
  background: red;
}
.component-contents-wrapper .component-contents-area header .header-inner {
  width: 100%;
}

.section .section-inner {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1024.98px) {
  .section .section-inner {
    width: 100%;
  }
}

.work-card-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work-card-area .card-item {
  width: 240px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 4px rgba(255, 133, 52, 0.04), 0px 2px 10px rgba(0, 30, 76, 0.1);
          box-shadow: 0px 0px 4px rgba(255, 133, 52, 0.04), 0px 2px 10px rgba(0, 30, 76, 0.1);
}
.work-card-area .card-item .card-inner .card-header {
  text-align: center;
  font-size: 16px;
  padding: 12px 8px;
  font-weight: bold;
  color: #333;
}
.work-card-area .card-item .card-inner .card-contents .image-area img {
  width: 100%;
}
.work-card-area .card-item .card-inner .card-contents .text-area {
  padding: 12px 8px;
  font-size: 12px;
}
.work-card-area .card-item .card-inner .card-footer {
  text-align: center;
}
.work-card-area .card-item .card-inner .card-footer .labels {
  padding: 12px 8px;
  background: #fff;
}
.work-card-area .card-item .card-inner .card-footer .labels .work-label {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #f27824;
  color: #f27824;
  margin: 3px 0px;
  min-width: 60px;
  text-align: center;
  font-weight: bold;
  padding: 4px 6px;
}
.work-card-area .card-item .card-inner .card-footer .labels .work-label.html {
  color: #f27824;
}
.work-card-area .card-item .card-inner .card-footer .labels .work-label.css {
  color: #f27824;
}
.work-card-area .card-item .card-inner .card-footer .labels .work-label.js {
  color: #f27824;
}
.work-card-area .card-item + .card-item {
  margin-left: 20px;
}

.sr-only {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  position: absolute;
}

.wrapper.contact {
  background: #003876;
}
.wrapper.contact .outer-container {
  border-bottom: 0;
  background: #fff;
}
#content.contact {
  background: #003876;
}
#content.contact .inner-container .path > li a {
  color: #fff;
}
#content.contact .inner-container .content-outer .title-area > h2 {
  color: #fff;
}
#content.contact .inner-container .contact-intro-list-wrapper {
  padding-top: 40px;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item {
  width: calc(100% / 3 - (80px / 2));
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item + .item {
  margin-left: 40px;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-title-area {
  position: relative;
  z-index: 100;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-title-area .title-sub {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-title-area .title {
  display: block;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.4);
  color: #5da6fa;
  margin-top: 12px;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-content-area {
  position: relative;
  background: #002e63;
  padding: 20px 20px 20px;
  line-height: 18px;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-content-area .intro-text {
  color: rgba(255, 255, 255, 0.8);
  line-height: 22px;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-content-area .intro-text + .intro-text {
  margin-top: 20px;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-content-area .writer-area {
  display: block;
  margin-top: 20px;
  text-align: right;
  color: #5da6fa;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-content-area .writer-area .colleague {
  font-weight: bold;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-content-area .writer-area .writer {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
}
#content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-content-area .writer-area::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #003876;
}
#content.contact .inner-container .contact-content-area {
  margin-top: 80px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#content.contact .inner-container .contact-content-area .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#content.contact .inner-container .contact-content-area .item dt {
  padding: 10px;
  width: 100px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
#content.contact .inner-container .contact-content-area .item dd {
  width: 190px;
  padding: 10px;
  margin-left: 10px;
}
#content.contact .inner-container .contact-content-area .item + .item {
  margin-top: 20px;
}
@media (min-width: 0) and (max-width: 1023px) {
  #content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item {
    width: 100%;
  }
  #content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-title-area .title-sub {
    text-align: center;
    font-size: 16px;
  }
  #content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item .item-inner .item-title-area .title {
    text-align: center;
    font-size: 40px;
    margin-top: 4px;
  }
  #content.contact .inner-container .contact-intro-list-wrapper .contact-intro-list .item + .item {
    margin-left: 0;
    margin-top: 40px;
  }
}

#content.main {
  background: url(../../assets/images/img-main-bg.jpg);
}
#content.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}

.main-intro-area {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-intro-area h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-intro-area h2 > span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 100px;
  color: #6c757d;
}
.main-intro-area h2 > span:nth-child(2) {
  margin-left: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-intro-area h2 > span:nth-child(2).on {
  -webkit-transform: scale(1.6) translate(20%, -10%);
          transform: scale(1.6) translate(20%, -10%);
}
.main-intro-area h2 > span:hover {
  color: #212529;
}
.main-intro-area h2 > span.on {
  color: #212529;
}

.scroll-section {
  padding-top: 50vh;
  margin: 0 auto;
}
.scroll-section h1 {
  font-size: 100px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 10vh;
  z-index: 100;
  text-align: center;
  width: 100%;
}

.main-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 30vh;
  height: 3em;
  font-size: 60px;
  margin: 4px 0;
  opacity: 0;
}
.main-message p {
  text-align: center;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message .small {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.description strong {
  float: left;
  font-size: 12px;
  color: #1d1d1d;
  margin-left: 0.2em;
}

#scroll-section-2 .main-message {
  font-size: 20px;
}

.desc-message {
  font-weight: bold;
  width: 50%;
  opacity: 0;
}
.desc-message .pin {
  width: 1px;
  height: 100px;
  background: black;
}

.mid-message {
  font-size: 20px;
  padding: 4px;
  color: #888;
}
.mid-message strong {
  color: #888;
}

.canvas-caption {
  color: #888;
  font-size: 20px;
  padding: 4px;
}

.sticky-elem {
  position: fixed;
  left: 0;
  width: 100%;
  display: none;
}

#show-scroll-scene-0 {
  color: #fff;
}
#show-scroll-scene-0 #scroll-section-0 .sticky-elem {
  display: block;
}

#show-scroll-scene-1 #scroll-section-1 .sticky-elem {
  display: block;
}

#show-scroll-scene-2 #scroll-section-2 .sticky-elem {
  display: block;
}
#show-scroll-scene-2 .b {
  top: 10%;
  left: 40%;
}
#show-scroll-scene-2 .c {
  top: 15%;
  left: 45%;
}

#show-scroll-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}
.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-blend-canvas {
  border: 3px solid red;
}

@media (min-width: 758px) {
  #show-scroll-scene-2 .b {
    top: 20%;
    left: 53%;
  }
  #show-scroll-scene-2 .c {
    left: 55%;
  }
}
.change-area {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  position: relative;
}
.change-area .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  text-align: center;
}
.change-area .percent-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
}
.change-area .percent-area .percent-bar {
  width: 50%;
  height: 100%;
  background: blue;
}

.desc-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}
.desc-list .item .desc-list-title {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #eeeeee;
  padding: 10px;
  word-break: keep-all;
  text-align: center;
}
.desc-list .item .desc-list-desc {
  width: calc(100% - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-circle-pic-area {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro-circle-pic-area img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
}

.tab-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tab-area .tab-btn-area {
  width: 100%;
}
.tab-area .tab-btn-area .tab-item {
  float: left;
  border: 1px solid #ced4da;
  min-width: 200px;
}
.tab-area .tab-btn-area .tab-item a {
  padding: 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-area .tab-btn-area .tab-item.on {
  background: #0067b3;
  border: 1px solid #0067b3;
}
.tab-area .tab-btn-area .tab-item.on a {
  color: #fff;
}
.tab-area .tab-btn-area .tab-item.on .tab-content {
  display: block;
}
.tab-area .tab-btn-area .tab-item .tab-content {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
}
.tab-area .tab-btn-area .tab-item .tab-content.on {
  display: block;
}
.tab-area .tab-content-area {
  width: 100%;
}

.university-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.university-area .contents-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.university-area .contents-area .image-area {
  width: 106px;
}
.university-area .contents-area .image-area img {
  width: 100%;
}
.university-area .contents-area .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 36px;
}
.university-area .contents-area .text-area dt {
  font-size: 20px;
  font-weight: bold;
}
.university-area .contents-area .text-area dd {
  margin-top: 10px;
}

.job-traning-list .item {
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  padding: 24px;
}
.job-traning-list .item .item-inner .title {
  font-weight: bold;
}
.job-traning-list .item .item-inner .desc {
  margin-top: 24px;
  padding-left: 10px;
}
.job-traning-list .item .item-inner .desc .sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 20px;
}
.job-traning-list .item .item-inner .desc .sub-item dt {
  padding-left: 12px;
  display: inline-block;
  min-width: 80px;
}
.job-traning-list .item .item-inner .desc .sub-item dt::before {
  content: "";
  width: 4px;
  display: block;
  background: #b5acd1;
  margin-right: 4px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.job-traning-list .item .item-inner .desc .sub-item dd {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.job-traning-list .item .item-inner .desc .sub-item + .sub-item {
  margin-top: 6px;
}

.job-traning-list {
  margin-top: 20px;
}
.job-traning-list p {
  line-height: 1.5;
}
.job-traning-list p strong {
  font-weight: bold;
  display: block;
}
.job-traning-list .image-area {
  max-width: 500px;
  margin-top: 20px;
}
.job-traning-list .image-area img {
  width: 100%;
}

.inline-block-list {
  background: yellow;
  height: 400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.inline-block-list > li {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: red;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.inline-block-list.container-font-0 {
  font-size: 0;
}
.inline-block-list.container-font-16 {
  font-size: 16px;
}
.inline-block-list.container-font-40 {
  font-size: 40px;
}
.inline-block-list.item-font-0 > li {
  font-size: 0px;
}
.inline-block-list.item-font-16 > li {
  font-size: 16px;
}
.inline-block-list.item-font-40 > li {
  font-size: 40px;
}
.inline-block-list.container-text-align-left {
  text-align: left;
}
.inline-block-list.container-text-align-center {
  text-align: center;
}
.inline-block-list.container-text-align-right {
  text-align: right;
}
.inline-block-list.container-lineHeight-atuo {
  line-height: auto;
}
.inline-block-list.container-lineHeight-400 {
  line-height: 400px;
}
.inline-block-list.container-lineHeight-800 {
  line-height: 800px;
}
.inline-block-list.item-lineHeight-16 > li {
  line-height: 16px;
}
.inline-block-list.item-lineHeight-20 > li {
  line-height: 400px;
}
.inline-block-list.item-lineHeight-400 > li {
  line-height: 800px;
}
.inline-block-list.item-vertical-align-top > li {
  vertical-align: top;
}
.inline-block-list.item-vertical-align-middle > li {
  vertical-align: middle;
}
.inline-block-list.item-vertical-align-bottom > li {
  vertical-align: bottom;
}

.title1 {
  display: block;
  font-size: 20px;
}
.title1 + .btn-area {
  margin-top: 14px;
}

.option-controll-area {
  margin-top: 30px;
}

.method-info-area {
  padding: 30px 40px;
  background: #f8f9fa;
}
.method-info-area .method-info-inner dt {
  font-size: 18px;
  font-weight: bold;
}
.method-info-area .method-info-inner dt + dd {
  margin-top: 16px;
}
.method-info-area + .inline-block-section {
  margin-top: 20px;
}

.btn-area button.on {
  background: #0067b3;
  color: #fff;
}/*# sourceMappingURL=style.css.map */