footer {
  .footer-inner-wrapp {
    .footer-section {
      .footer-inner {
        padding: 24px;
        background: #012957;
        p {
          text-align: center;
          color: $gray-100;
        }
      }
    }
  }
}
