html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.outer-container {
  width: 100%;
}
.inner-container {
  &.width-default {
    width: $globalContainerWidth;
    margin: 0 auto;
  }
}

//header
header {
  width: 100%;
}

//main
.content-area {
  width: 100%;
  min-height: calc(100% - 93px);
  .inner-container {
    display: flex;
  }
}

footer {
  width: 100%;
}

.content-inner {
  width: calc(100% - 170px);
  min-height: 500px;
}
.path {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  > li {
    position: relative;
    font-size: 12px;
    &::before {
      display: block;
      content: "";
      position: absolute;
      left: -14px;
      width: 6px;
      height: 1px;
      background: #adadad;
      border-radius: 1px;
      transition: transform 0.5s ease;
      transform: rotate(45deg);
      top: 4px;
      // transform: ;
    }
    &::after {
      transform: rotate(-45deg);
      display: block;
      content: "";
      position: absolute;
      left: -14px;
      width: 6px;
      height: 1px;
      background: #adadad;
      border-radius: 1px;
      transition: transform 0.5s ease;
      bottom: 3px;
    }
    &:first-child {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    & + li {
      margin-left: 20px;
    }
  }
}
